{%  extends 'vestuario/base.html' %}
{%  block body %}

    <div class="cr">
  <div class="glitch" data-text="GALERIJA">GALERIJA</div>
  <div class="glow">GALERIJA</div>
  <p class="subtitle">Najpopularnijih stilova</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
<div id="jLightroom" class="jlr">
    <a href="/static/vestuario/images/g1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g1.jpg" class="jlr_img"/></a>
     <a href="/static/vestuario/images/g2.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g2.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g3.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g3.jpg" class="jlr_img"/></a>
     <a href="/static/vestuario/images/g4.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g4.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g5.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g5.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g6-1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g6-1.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g7.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g7.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g7-1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g7-1.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g8 (2).jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g8 (2).jpg" class="jlr_img"/></a>
     <a href="/static/vestuario/images/g9 (2).jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g9 (2).jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g10.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g10.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g11.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g11.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g12.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g12.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g13.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g13.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g14.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g14.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g15-1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g15-1.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g16-1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g16-1.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g17-2.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g17-2.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g18-3.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g18-3.jpg" class="jlr_img"/></a>
    <a href="/static/vestuario/images/g19-1.jpg" data-lightbox="lb1" class="jlr_item"><img src="/static/vestuario/images/g19-1.jpg" class="jlr_img"/></a>
</div>
</div>
    <br><br>
    <hr color="#cc9966">
    <div class="by">
    <div class="ctr">
         <p class="pe" align="left" style="font-size: 80px;">
             Pogledajte<br>
             &nbsp;&nbsp;najnoviji<br>
             &nbsp;&nbsp;&nbsp;&nbsp;snimak</p>&&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="c-video">
        <video class="video" src="/static/vestuario/images/video.mp4"></video>
        <div class="controls">
            <div class="brown-bar">
                <div class="brown-juice"></div>
            </div>
            <div class="buttons">
                <button id="play-pause"></button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <hr color="#cc9966">
    <div align="center"><br>
        <div class="by"><h1 style="color: #cc9966; font-size: 70px;" class="pe">Naš katalog</h1></div><br>
    <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=vu56883xu3" width="50%" height="400" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe><br>
    <div class="by"><h1 style="color: #cc9966; font-size: 25px;" class="pe">Ukoliko želite možete preuzeti naš katalog pritiskom na dugme:</h1><br>
        <button class="btn"><a href="/static/vestuario/images/vestuario-katalog.pdf" download="vestuario-katalog" style="color: white;">Preuzmi</a></button></div>
    </div><br><br>
    <script src="/static/vestuario//jquery.min.js"></script>
    <script src="/static/vestuario/imagesloaded.pkgd.min.js"></script>
    <script src="/static/vestuario/lightbox.min.js"></script>
    <script src="/static/vestuario/jquery.lightroom.js"></script>

    <script type="text/javascript">
        $("#jLightroom").lightroom({
            image_container_selector: ".jlr_item",
            img_selector: "img.jlr_img",
            img_class_loaded: "jlr_loaded",
            img_space: 5,
            img_mode: 'min',
            init_callback: function(elem){$(elem).removeClass("gray_out")}
        }).init();
    </script>

{% endblock %}