{%  extends 'vestuario/base.html' %}
{% block body %}
    <table width="100%">
    <tr>
        <td colspan="2" align="center" width="70%">
            <div class="neons col-12"><br><br>
                <h1><em><i>O nama</i></em></h1>
            </div><br><br>
            <p class="para">Mi vjerujemo u svijet u kojem imate potpunu slobodu da budete vi, bez osuđivanja. Da
            eksperimentišete. Da se izrazite. Da budete hrabri i zgrabite život kao izvanrednu avanturu kakva jest.
            Tako osiguravamo da svi imaju jednake šanse da otkriju sve zadivljujuće stvari za koje su sposobni - bez
            obzira ko su, odakle dolaze ili kakve izglede žele postići. Mi postojimo da bismo Vam dali povjerenje da
            budete ono što želite biti.</p>
        </td>
        <td align="center" width="30%">
            <figure class="snip1295">
                <img src="/static/vestuario/images/slika11.jpeg" alt="Model"/>
                <div class="border one"><div></div></div>
                <div class="border two"><div></div></div><a href="#"></a>
            </figure>
        </td>
    </tr>
    </table>
    <br>

    <div class="by">
    <table align="center">
        <tr>
            <td><br>
                <figure class="snip1401">
                    <img src="/static/vestuario/images/slika15.jpg" alt=""/>
                    <figcaption>
                        <h3>NAŠA KVALITETA</h3>
                        <p>
                            Dizajnirano da traje. Želimo da naše komade nosite godinama, pa i desetljećima koja dolaze.
                            Zato za naše bezvremenske proizvode nabavljamo najbolje materijale i tvornice.
                        </p>
                    </figcaption>
                    <i class="ion-ios-home-outline"></i><a href="#"></a>
                </figure>
            </td>
            <td><br>
                <figure class="snip1401">
                    <img src="/static/vestuario/images/1.gif" alt=""/>
                    <figcaption>
                        <h3>NAŠE KOLEKCIJE</h3>
                        <p>
                            Naša modna filozofija uravnotežuje inovativni dizajn s trajnim stilom. Ljepota u jednostavnosti,
                            funkcionalnost u prvom planu.
                        </p>
                    </figcaption>
                    <i class="ion-ios-home-outline"></i><a href="#"></a>
                </figure>
            </td>
            <td><br>
                <figure class="snip1401">
                    <img src="/static/vestuario/images/slika16.jpg" alt=""/>
                    <figcaption>
                        <h3>NAŠ DIZAJN</h3>
                        <p>
                            Svaki komad napravljen je da traje izvan sezone. Osnovne stvari za moderni ormar,
                            podložan bezvremenskim obrtima. Kupi bolje. Čuvaj zauvijek.
                        </p>
                    </figcaption>
                    <i class="ion-ios-home-outline"></i><a href="#"></a>
                </figure>
            </td>
        </tr>
    </table>
    </div>
    <br><br>
    <table align="center">
    <tr>
        <td align="center" width="30%">
            <figure class="snip1295">
                <img src="/static/vestuario/images/32.gif" width="300px" height="450px"/>
                <div class="border one">
                    <div></div>
                </div>
                <div class="border two">
                    <div></div>
                </div>
                <a href="/static/vestuario/images/32.gif"></a>
            </figure>
        </td>
        <td align="right" width="70%" class="container">
            <p class="para">
                <text style="font-size: 3rem;" align="center">
                    <i>Naša obaveza</i>
                </text><br>
                Ponosni smo što dijelimo obavezu koju smo preuzeli za stvaranje boljih načina rada, nadovezujući se na
                strast naših zaposlenika koji su željni pokretanja ove pozitivne promjene. <br><br>
                Uspostavili smo pet ambicija održivosti kako bismo osigurali da promovišemo najbolju praksu:
                <ul class="para">
            <li align="left">Potaknite pozitivne promjene kroz angažman i pratnerstva sa našim brandovima</li>
            <li align="left">Aktivno sudjelujte s našim kupcima kako biste im pomogli da donose informirani izbor</li>
            <li align="left">Zaštitite okoliš odgovornim konzumiranjem</li>
            <li align="left">Pobjedite naše ljude i pružite im dinamično, raznoliko i podržavajuće radno mjesto</li>
            <li align="left">Radimo s integritetom i odgovorno poslovanje stavljamo u središte onoga što radimo</li>
        </ul>
            </p>
        </td>
    </tr>
    </table>
    <div class="container">
    <p align="center" class="para">
        <text style="font-size: 3.5rem;" align="center">
            <u>Naše opredjeljenje</u>
        </text><br>
        Od početka, dizajnerski etos uvijek je na prvo mjesto stavljao dugovječnost. Mi favoriziramo trajni stil
        prijelaznih trendova. Svaki komad trebao bi imati dug vijek trajanja. Želimo da nosite našu odjeću za deset godina.
        Kupujte bolje, čuvajte zauvijek - to je naša nada. <br>
        OVaj pristup dizajnu kombiniramo s naglaskom na održive tkanine i inovacije materijala. Ne postoji jedno rješenje
        problema s kojima se suočavaju naše industije i naš planet - postoje mnogi. Neki su jednostavniji, većina složeni.
        Naš tim za održivost svaki dan naporno radi na njihovom pronalaženju. <br>
        Upravo je jedan od naših glavnih ciljeva dostići 100% reciklirane, preuređene ili održivije dobivene materijale do 2030. godine, ako ne i ranije.
    </p>
    </div>
<div align="center">
<img src="/static/vestuario/images/video-2.gif" align="center" width="70%" height="60%"/>
</div>
{%  endblock %}